body {
    width: 1400px;
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header, footer {
    background-color: #255876;
    color: white;
}
header nav a {
    color: white;
}