body {
    width: 1000px;
    text-align: center;
}
.first-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header, footer {
    background-color: #255876;
    color: white;
}
header nav a {
    color: white;
}
header {
    height: 50px;
}
header nav {
    display: flex;
    justify-content: space-evenly;
}
header nav a {
    padding-top: 14px;
}
footer {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 5px;
}
h1 {
    background-color: #F2B143;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}