.title {
    background-color: black;
    color: white;
}
.black-part {
    background-color: black;
}
.subtitle {
    background-color: gray;
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: aliceblue;
}
th, td {
    padding: 7px 15px;
    border:1px solid black
}