body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
header, footer {
    background-color: navy;
}
main {
    background-color: gray;
}
header, main, footer {
    color: white;
}