* {
    font-family: Arial, Helvetica, sans-serif;
}
header span {
    display: block;
    text-align: center;
}
header nav {
    display: flex;
    justify-content: space-evenly;
}
body {
    max-width: 840px;
    width: 840px;
}
main {
    display: grid;
    max-width: 840px;
    width: 840px;
    grid-template-columns: 2fr 1fr;
}
#course-title, .body-title, footer {
    background-color: beige;
}
header nav {
    background-color: #666666;
}
header nav a {
    color: white;
}
header nav a:hover {
    color: yellow;
}