* {
    font-family: Arial, Helvetica, sans-serif;
}
header span {
    display: block;
    text-align: center;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #272727;
}
body {
    max-width: 900px;
    width: 900px;
}
header {
    width: 900px;
}
main {
    display: grid;
    max-width: 900px;
    width: 900px;
    grid-template-columns: 2fr 1fr;
}
#course-title, .body-title, footer {
    background-color: beige;
}
header nav a {
    color: white;
}
header nav a:hover {
    color: yellow;
}
#first-card {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 36% 9% 45%;
}
.body-title {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}
.section-first-paragraph {
    grid-column: 1/3;
    grid-row: 2/3;
}
.index-first-image {
    grid-column: 3/4;
    grid-row: 2/3;
}
.title-country {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
}
.index-second-image {
    grid-column: 1/2;
    grid-row: 4/5;
    border-left: 0px;
    margin-left: 0px;
}
.section-second-paragraph {
    grid-column: 2/3;
    grid-row: 4/5;
}
